.env

*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt

.phpunit.result.cache
/wpcs/*
bin/
packages/
public/storage
storage/*.json
storage/*.key
storage/*.sql
vendor/

.vscode/
.history

.*meta*
.php_cs*
.phpunit.result.cache
_ide_helper*

*.log
logs
php_error*

database.sqlite
